
h1, h2, h3 {
	margin-top: 0;
	color: #8C0209;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #8C0209;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}
/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	background: #FFFFFF repeat-y left top;
}


/* Content */

#content {
	/*float: center;*/
}
a:hover{
    text-decoration: underline;
}

#content div{
    background: bisque;
    margin-bottom: 7%;
    font: bold 130%/110% Georgia serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2%;

}
#answer_text{
 margin-bottom: 9%;
    padding: 2%;
    font-family: 'Roboto Condensed', sans-serif;
font:130%/110% Georgia serif;
}

#answer_text h3{
    color: #003366;
    font:bold 130%/110% Times new Roman;
}

#answer_text div{
    margin-bottom: 4%;
}
#btnask {
	display:inline-block;
	border-radius: 10px;
    background-color: black;
    color: white;
	/*padding:%;*/
	width:50%;
	height:40px;
}

.content-heading{
	text-align: center;
}

.dropdown{
    display: inline;
}

.sort {
    text-align: right;
    margin-bottom: 1%;
}
